html{
background: linear-gradient(90deg, rgba(0,18,36,1) 0%, rgba(93,95,99,1) 58%, 
rgba(83,97,118,1) 69%, rgba(56,103,171,1) 100%);
color: seashell;
font-size: 27px;
}

h1 {
    text-align: center;
}

a{
    color: red;
}

textarea{
    width: 400px;
    height: 80px;
    background-color: #fff;
    resize: none;
}

button{
    width: 100px;
    height: 30px;
    background-color: darkgray;
    border: none;
    color: #fff;
    font-family: arial;
    font-weight: 400;
}

