body{
  background-color: slategray;
}

/* unvisited link */
a:link {
    color: red;
    font-size: 2em;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  table, th, td {
    border: 6px solid black;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
